<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songlou.mapper.RoleMapper">
	<!-- 定义查询的字段 -->
	<sql id="pagingQueryField">
		id,name,note
	</sql>
	<!-- 定义分页查询的条件 -->
	<sql id="pagingCondition">
		<if test="name!=null"> name like concat('%', #{name}, '%') </if>
	</sql>
	
	<!-- 分页查询记录 -->
	<select id="selectPagingData" parameterType="com.songlou.model.RoleSearchModel" resultType="com.songlou.pojo.Role">
		SELECT
		<include refid="pagingQueryField"></include>
		FROM xin_role
		<where>
			<include refid="pagingCondition" />
		</where>
		order by id desc
		limit ${(pageIndex-1)*pageSize}, #{pageSize}
	</select>
	
	<!-- 分页查询记录数 -->
	<select id="selectPagingDataNumber" parameterType="com.songlou.model.RoleSearchModel" resultType="int">
		SELECT
		COUNT(*)
		FROM xin_role
		<where>
			<include refid="pagingCondition" />
		</where>
	</select>
	
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.songlou.pojo.Role">
		<selectKey keyProperty="id" resultType="int" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into xin_role(name, note)
		values(#{name}, #{note})
	</insert>
	
	<!-- 修改数据 -->
	<update id="update" parameterType="com.songlou.pojo.Role">
		update xin_role
		set name=#{name}, note=#{note}
		where id=#{id}
	</update>
	
	<!-- 根据ID查询 -->
	<select id="selectById" parameterType="int" resultType="com.songlou.pojo.Role">
		SELECT 
		<include refid="pagingQueryField"></include>
		FROM xin_role WHERE ID = #{id}
	</select>
	
	<!-- 删除数据 -->
	<delete id="delete" parameterType="int">
		delete from xin_role where id = #{id}
		<!-- <where>
			<if test="id!=null">  </if>
		</where> -->
	</delete>
</mapper>